$charcoal: #333333;
$link-blue: #229ccc;

$dark-mint-green: #00b070;
$orange: #fc9e33;
$dark-orange: #ff8e0e;
$blue: #009cd7;
$pink: #fd4561;

$light-grey: #C5C3C3;
$grey: #A4A4A4;
$nearly-black: #2A2929;
