#support-newington {
  max-width: $small-width;
  margin: auto;
  background-color: $green;
  margin-bottom: 55px;

  .top-section {
    padding: 34px 40px 40px;
    box-sizing: border-box;

    .heading-container {
      display: flex;
      justify-content: space-between;
      align-items:center;
      margin-bottom: 27px;

      .heading {
        margin-right: auto;
        margin-left: 8px;
        color: $charcoal;
      }

      img {
        height: 36px;
        position: relative;
        top: 4px;
      }

      #heart {
        position: relative;
        top: 2px;
      }
    }

    .small-heading {
      color: white;
      margin-bottom: 24px;
    }

    .body-text {
       color: $v-light-grey;
       font-size: 18px;
       line-height: 28px;
    }

  }

  .bottom-section {
    padding: 31px 40px 40px;
    box-sizing: border-box;
    background-color: $charcoal;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;

    .description {
      color: white;
      font-weight: 700;
      font-size: 18px;
    }

    .select-amount {

      .description {
        margin-bottom: 25px;
      }
      .donation-amount {
        margin-right: 17px;
      }

      .donation-amount:last-child {
        padding-left: 30px;
        padding-right: 30px;
      }


    }

    .custom-amount {
      margin-left: auto;

      .description {
        display: inline-block;
        margin-right: 12px;
      }

      .field {
        width: 100px;
      }
    }

    .green-button {
      margin-top: 30px;
      flex: 0 0 100%;
      padding:9px 35px 12px;
    }

  }

  //from https://css-tricks.com/examples/ShapesOfCSS/ via Nicolas Gallagher

  $hrt-h: 35px;
  $hrt-w: (($hrt-h / 8) * 5);

  $hrt-c: $red;

  #heart { position: relative; width: $hrt-w * 2; height: $hrt-h; }
  #heart:before, #heart:after { position: absolute; content: ""; left: $hrt-w; top: 0; width: $hrt-w; height: $hrt-h; background: $red; -moz-border-radius: 50px 50px 0 0; border-radius: 50px 50px 0 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; }
  #heart:after { left: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; transform-origin :100% 100%; }

}

#our-teams {
  width: $teams-width;
  margin: auto;

  .heading {
    text-align: center;
    margin-bottom: 11px;
  }

  .underline {
    margin: auto;
  }
}
