<footer>
  <div class="social-media">
    <p class="body-text">
      Connect with us:
    </p>

    <ul>
      <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
    </ul>

  </div>
  <img alt="newington logo monotone" src="assets/footer-badge.png" />
  <div class="burns-bros">
    <p class="body-text">
      Webpage by:
    </p>
    <img alt="burns bros and co logo" src="assets/footer-burnsbros.png" />
  </div>
</footer>
