<nav>
  <ul class="hidden-icons">
    <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
  </ul>
  <img alt="newington badge" src="assets/badge_small.png">
  <ul>
    <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
  </ul>
</nav>
