<footer>
  <div id="background"></div>
  <div id="cards">

    <div id="our-process-card" class="card">
      <div class="card-inner">
        <h3>Our Process</h3>
        <p>
          Building measuring & learning...<br>
          Again, again & again.
        </p>

        <a class="orange-button" href="#">LEARN MORE</a>
      </div>

      <div id="stay-connected-container">
        <h3>Stay Connected</h3>
        <a class="twitter-icon" href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
        <a class="instagram-icon" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>

      </div>

    </div>

    <div id="newsletter-card" class="card">
      <div class="card-inner">
        <h3>Periodical Newsletter</h3>
        <p>
          Subscribe to recieve short emails outlining what we're up to,
          our articles & interesting internet discoveries.
        </p>


        <form action="//burnsbros.us15.list-manage.com/subscribe/post-json?u=2f058a9fc712ae0be57fe88a9&amp;id=4f8d9b8c09&c=?" method="get" id="email-submission" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input placeholder="your@email.com" class="email-field" type="email" name="EMAIL" id="mce-EMAIL">
          <div id="mce-responses" class="clear">

              <div class="response" id="mce-error-response" style="display:none"></div>

              <div class="response" id="mce-success-response" style="display:none"></div>

          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <input class="orange-button-form" type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe">
        </form>

        <p class="small mailchimp-message">We promise to treat your inbox like it's our own!</p>
      </div>
    </div>

  </div>

  <div id="work-with-us">

    <div class="description">
      <h3>Want to work with us?</h3>
      <p>Let's create something great together!</p>
    </div>

    <div class="buttons">
      <a href="#" class="orange-button">GO TO PROJECT PLANNER</a>
      <a href="#" class="white-button">GET IN TOUCH!</a>
    </div>

  </div>

  <nav id="bottom-nav">
    <div id="bottom-nav-inner">
      <ul>
        <li><a href="./">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Get in Touch</a></li>
      </ul>

      <a href="./" ><img alt="burns bros footer image" src="assets/logo-footer.svg"></a>

      <ul>
        <li><a href="https://blog.burnsbros.co">Blog</a></li>
        <li><a href="#">Jobs</a></li>
        <!--<li><a href="#">Terms</a></li>-->
        <li><a href="#">Client Area</a></li>
      </ul>
    </div>
  </nav>

</footer>
<section id="copyright">
  <p class="small">
    © Burns Bros. & Co. MMXVI-Today. All Rights Reserved &middot;
    Certavi et vici &middot; Proudly based in Belfast & Sheffield
  </p>
</section>
