{% extends "templates/template.html" %}

{% block content %}
    <header>
      <div class="heading-container">
        <h1 class="heading">About<br>Newington FC</h1>
        <div class="underline"></div>
      </div>
      <p class="body-text">
        Newington FC are a North Belfast based football club that play in the
        NI Football League's Intermediate Premier League. Our Seconds play in
        the Balymena & Provincial Junior Division One and our U20 Development
        Squad play their games in the NIFL Championship Development League North.
        Newington Youth FC's U18, U17 and U16 squads play in the South Belfast
        Youth League.
      </p>
    </header>
    <section id="support-newington">
      <div class="top-section">

        <div class="heading-container">

          <div id="heart"></div>

          <h1 class="heading">Support Newington FC</h1>

          <img alt="stripe, visa and mastercard logos" src="assets/white_cards.png">

        </div>

        <h2 class="small-heading">Please support our Club and make a donation today...</h2>
        <p class="body-text">
          Newington FC's week to week existence relies soley on the generosity
          of our sponsors and kind donations from our supporters. All money recieved
          goes towards providing sporting opportunities to the youth and young adults
          of North Belfast. You can donate to Newington FC tody in just 2 simple
          and secure steps. All donations, big or small, are apreciated. Thank you
           for your continued support!
        </p>
      </div>
      <form class="bottom-section">
        <div class="select-amount">
          <p class="body-text description">Please select a donation amount:</p>
          <p id="25" class="white-button donation-amount">£25</p>
          <p id="50" class="white-button donation-amount">£50</p>
          <p id="75" class="white-button donation-amount">£75</p>
          <p id="100" class="white-button donation-amount">£100</p>
        </div>

        <div class="custom-amount">

          <p class="body-text description">Other  amount:</p>

          <input class="field" type="text" name="amount" id="custom">

        </div>

        <input class="green-button" type="submit" value="Donate" name="subscribe" id="mc-embedded-subscribe">

      </form>
    </section>
    <section id="our-teams">
      <h1 class="heading">Our Teams</h1>
      <div class="underline"></div>

      {% set ibutton = "templates/partials/_icon-button.html" %}

      {% set one = "test" %}
      {% set two = "test2" %}
      {% include ibutton %}

      {% set one = "test23" %}
      {% set two = "test223" %}
      {% include ibutton %}


    </section>

{% endblock %}
